@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?vmmt25');
  src:  url('fonts/icomoon.eot?vmmt25#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?vmmt25') format('truetype'),
    url('fonts/icomoon.woff?vmmt25') format('woff'),
    url('fonts/icomoon.svg?vmmt25#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Telegram2:before {
  content: "\e703";
  color: #979797;
}
.icon-Whatsapp2:before {
  content: "\e702";
  color: #999;
}
.icon-lock:before {
  content: "\e98f";
}
