@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?q6lkzy');
  src:  url('fonts/icomoon.eot?q6lkzy#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?q6lkzy') format('truetype'),
    url('fonts/icomoon.woff?q6lkzy') format('woff'),
    url('fonts/icomoon.svg?q6lkzy#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-igris:before {
  content: "\e900";
  color: #999;
}
